data/aws-lake/** filter=lfs diff=lfs merge=lfs -text
data/covid-tracking/*.json filter=lfs diff=lfs merge=lfs -text
data/testing-cms/archive/** filter=lfs diff=lfs merge=lfs -text
data/**/*.csv filter=lfs diff=lfs merge=lfs -text
